
<body>

	

		<!-- Start Hero Section -->
			<div class="hero">
				<div class="container">
					<div class="row justify-content-between">
						<div class="col-lg-5">
							<div class="intro-excerpt">
								<h1>About Us</h1>
								<p class="mb-4">Donec vitae odio quis nisl dapibus malesuada. Nullam ac aliquet velit. Aliquam vulputate velit imperdiet dolor tempor tristique.</p>
								<p><a href="" class="btn btn-secondary me-2">Shop Now</a><a href="~/#" class="btn btn-white-outline">Explore</a></p>
							</div>
						</div>
						<div class="col-lg-7">
							<div class="hero-img-wrap">
								<img src="~/images/exclusive Product.png" class="img-fluid">
							</div>
						</div>
					</div>
				</div>
			</div>
		<!-- End Hero Section -->


		<!-- Start Team Section -->
		<div class="untree_co-section">
			<div class="container">

				<div class="row mb-5">
					<div class="col-lg-5 mx-auto text-center">
						<h2 class="section-title">Our Team</h2>
					</div>
				</div>

				<div class="row">

					<!-- Start Column 1 -->
					<div class="col-12 col-md-6 col-lg-3 mb-5 mb-md-0">
						<img src="~/images/person_1.jpg" class="img-fluid mb-5">
						
						<h4 class="d-block position mb-4">Đức Anh</h4>
						<p>2180606056</p>
						
					</div> 
					<!-- End Column 1 -->

					<!-- Start Column 2 -->
					<div class="col-12 col-md-6 col-lg-3 mb-5 mb-md-0">
					<img src="~/images/af860bb1-6ba3-4447-a3da-c945242114d6.jpeg" class="img-fluid mb-5">
					<h4 class="d-block position mb-4">Phương Duy.</h4>
					<p>2180600224</p>

				</div> 
					<!-- End Column 2 -->

				

					

				</div>
			</div>
		</div>
		<!-- End Team Section -->

		

		
		


		<script src="~/js/bootstrap.bundle.min.js"></script>
		<script src="~/js/tiny-slider.js"></script>
		<script src="~/js/custom.js"></script>
	</body>

</html>
